/* Стилі для кнопки перемикання мови */
.lang-switch {
    font-weight: 700;
    font-size: 16px;
    background: none;
    border: none;
    color: #4c229bc2; /* Фіолетовий колір */
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.7s, background-color 0.7s;
    outline: none;
}
.lang-switch:hover {
    background-color: #bbc1f6;
    color: #222;
}

/* Стилі для основної секції хедера */
.header {
    background-image: linear-gradient(to bottom, #949dff 0%, #ECEDFF 100%);
    padding: 10px 0;
    position: fixed; /* Закріплює хедер у верхній частині екрана */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: transform 1.5s;
    box-shadow: 0 2px 12px rgba(44, 50, 88, 0.10);
    will-change: transform;
}

/* Стиль для приховування хедера (при скролінгу вниз) */
.header.header-out {
    transform: translateY(-100%);
}

/* Контейнер для логотипу та кнопок навігації */
.logo-and-navigation-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    /* max-width: 1200px; */ /* Закоментовано у вихідному коді */
    margin: 0 auto;
    padding: 0 0px;
    box-sizing: border-box;
}

/* Розділення контенту на ліву та праву сторони */
.left-side,
.right-side {
    height: 100%;
    flex: 1; /* гнучкий займання місця замість фіксованого 50% */
}

.left-side {
    display: flex;
    justify-content: flex-start;
    padding-left: 3%;
}

.right-side {
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
}

/* Стилі для логотипу */
.logo {
    margin-left: 0px;
    display: flex;
    align-items: center;
    height: 90px;
}

.logo img {
    height: 90%;
    object-fit: contain;
    width: 30%;
}

/* Стилі для основних навігаційних кнопок */
.navigation-buttons {
    display: flex;
    align-items: center;
    margin-left: 0;
    width: auto;
    /* overflow-x: auto; */
    /* max-width: 50%; */
}

.navigation-buttons ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 10px;
}

header .navigation-buttons a {
    text-decoration: none;
    color: #4c229bc2;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.7s, background-color 0.7s;
    padding: 10px 15px;
    border-radius: 5px;
}

header .navigation-buttons a:hover {
    background-color: #ffffff3c; /* Легке підсвічування при наведенні */
}

/* Стилі для випадаючого меню (Dropdown) */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; /* Приховано за замовчуванням */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    top: 100%;
}

.dropdown-content a {
    color: #4A4A4A;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block; /* Показати меню при наведенні на батьківський елемент */
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}