body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #333;
    background-color: #ECEDFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding-top: 111px; /* Компенсація висоти шапки */
    min-height: 100vh;
    flex-grow: 1; 
}
