body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #333;
    background-color: #ECEDFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding-top: 111px;
    min-height: 100vh;
    flex-grow: 1;
}

.start-banner {
    background-color: #636AC0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78vh;
    width: 100%;
    overflow: hidden;
}

.banner-container {
    width: 100%;
    height: 100%;
    display: flex;
    white-space: nowrap; /* запобігає переносу рядків */
}

.banner-element {
    flex-shrink: 0; /* встановлює значення flex-shrink. flex-shrink визначає, чи може елемент зменшуватися у розмірі */
    width: 100%; /* встановлює значення ширини */
    height: 100%; /* встановлює значення висоти */  
    overflow: hidden; /* Перекриває вміст, що виходить за межі контейнера */
    position: relative; /* Рекомендовано для абсолютного позиціонування внутрішніх елементів */
}

.banner_image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-part {
    flex-grow: 1;
    height: auto;
}

.ourlife-area {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourlife-square {
    width: 500px;
    height: 400px;
    background-color: #767DCF;
    margin-right: 150px;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    padding: 30px; 
    position: relative;
    box-sizing: border-box; 
    /* overflow: hidden;  */
}

.text-field {
    margin-top: -60px;
    width: 50%;
    color: rgb(14, 14, 14);
    z-index: 10; /* Переконайтеся, що текст поверх зображення */
}

.image-field {
    z-index: 5;
    position: absolute;
    top: 15%;
    /* right: -300px; */
    left: 300px;
    width: 400px;
    height: 300px;
}

.image-field img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Зображення заповнить .image-field */
}

.text-field h2 {
    margin-top: 0;
    font-size: 60px;
    font-weight: 1000;
    line-height: 0.9;
}