footer {
    padding: 40px 0;
    background: linear-gradient(to right, #636AC0 3%, #353B7A 30%, #353B7A 70%, #636AC0 100%);
    color: #ffffff;
}

.footer-content {
    /* max-width: 1200px; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.f-left-side,
.f-center-side,
.f-right-side {
    height: 100%;
    width: 33.33%;
}

.f-left-side {
    display: flex;
    justify-content: flex-start;
    padding-left: 3%;
}

.f-center-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-right-side {
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-left: -55px;
}

.social-media a {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: #424A99;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media a img {
    height: 30px;
    width: 30px;
}

.social-media a:hover {
    transform: scale(1.1);
}

.f-navigation-buttons ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.f-navigation-buttons a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.7s, background-color 0.7s;
    padding: 10px 15px;
    border-radius: 5px;
}

.f-navigation-buttons a:hover {
    background-color: #ffffff3c;
}